%dashed-border{
	border:{
		width: 2px;
		style: dashed;
		color: black;
	}
}

%solid-border{
	border:{
		width: 2px;
		style: solid;
		color: black;
	}
}

h1{
	@extend %dashed-border;
}

.card{
	width:100px;
	height:200px;
	@extend %solid-border;
}
