%dashed-border{
	border:{
		width: 2px;
		style: dashed;
		color: black;
	}
}

%solid-border{
	border:{
		width: 2px;
		style: solid;
		color: black;
	}
}

%card-dimensions-vertical{
	width: $card-width;
	height: $card-height;
}

%card-dimensions-horizontal{
	width: $card-height;
	height: $card-width;
}
