%dashed-border{
	border:{
		width: 2px;
		style: dashed;
		color: black;
	}
}

%solid-border{
	border:{
		width: 2px;
		style: solid;
		color: black;
	}
}

%card-dimensions{
	width: 130px;
	height: 200px;
}
